html, body {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 60px;
}

/*NAVBAR*/
.wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.left h3 {
  font-size: 16px;
  cursor: pointer;
}
.left h3:hover {
    color: gray;
}
.leftMapIcons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchContainer {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}
.searchContainer .fas {
    cursor: pointer;
}
input {
    border: none;
}
.center {
  flex: 1;
  text-align: center;
}
.center h1 {
  font-weight: bold;
}
.center a {
    text-decoration: none;
    color: black;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.loginIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  cursor: pointer;
}
.menuItem .signUp:hover {
    color: gray;
}
.menuItem .login:hover {
    color: gray;
}
.menuItem .fas:hover {
    color: gray;
}

/*SLIDER EFFECT*/
.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden; 
}
.arrow {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 1%;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
    font-size: 25px;
}

.arrow2 {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 1%;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
    font-size: 25px;
}
.wrapper2 {
    height: 100%;
  display: flex;
  transition: all 1.5s ease;
}
.slide {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e6cab4;
}
.imgContainer {
    height: 90%;
    flex: 1;
}
.image {
    height: 80%;
  margin-left: 80px;
}
.infoContainer {
    flex: 1;
    padding: 50px;
    margin-top: -100px;
}
.title {
    font-size: 50px;
}
.desc {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}
.btnShop {
    padding: 10px;
    border: 2px solid rgb(7, 7, 7);
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.btnShop:hover {
    color: white;
    background-color: black;
    transition: 0.5s ease;
}

/*SQUARES CATEGORIES*/
.categories {
    flex: 1;
    margin-top: 3px;
    height: 100vh;
    position: relative;
}
.imageCategory {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.info {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.titleCategory {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}
.btnCat {
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.btnCat:hover {
    background-color: rgb(73, 73, 73);
    color: white;
  transition: all .5s ease;
}

/*NEWSLETTER*/
.newsletter {
    height: 60vh;
    background-color: #c0aa9a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
    margin-top: 3px;

}
.newsTitle {
    font-size: 50px;
    margin-bottom: 20px;
}
.newsDesc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.newsInput {
    width: 50%;
    height: 40px;
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}
.newsEmail {
    border: none;
    flex: 8;
    padding-left: 20px;
}
.btnEmail {
    flex: 1;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
.btnEmail:hover {
    background-color: rgb(77, 77, 77);
    color: rgb(199, 199, 199);
}

/*FOOTER*/
.footer {
    display: flex;
    margin-top: 3px;
}
.footerLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.logoFooter {
    font-weight: bolder;
    margin-top: -5px;
    font-size: 20px;
}
.footerDesc {
    margin: 20px 0px;
}
.socialContainer {
    display: flex;
  
}
.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 30px;
    font-size: 25px;
}
.socialIcon:hover {
    cursor: pointer;
}
.footerCenter {
    flex: 1;
    padding: 20px;
}
.centerTitle {
    margin-bottom: 30px;
    font-weight: bolder;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.listItem {
    width: 50%; /*Double Column on Links*/
    margin-bottom: 13px; 
    padding-bottom: 10px;
    margin-top: -10px;
    cursor: pointer;

}
.footerRight {
    flex: 1;
    padding: 20px;
}
.rightTitle {
    font-weight: bolder;
}
.contactItem {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}


/*PRODUCT.HTML*/
.productContainer {
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9f5f5;
    position: relative;
}

.productListTitle {
    margin: 20px;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 30px;
}
.option {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}
.filterContainer {
    display: flex;
    justify-content: space-between;
}
.listFilter {
    display: flex;
    align-items: center;

    margin: 20px;   
}
.filterText {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.select {
    padding: 5px;
    margin-right: 20px;
}



.productSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 150px;
}

.imagesList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}
.image1 img:hover {
    cursor: pointer;
    opacity: 80%;
}
.image1 .pricing {
    color: red;
}
.pricingFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -15px;
}

.imagesList img {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}
.imagesList2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagesList2 img {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.starRating {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}
.checked {
    color: rgb(145, 145, 145);
}

