html, body {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 60px;
}

/*NAVBAR*/
.wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.left h3 {
  font-size: 16px;
  cursor: pointer;
}
.searchContainer {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}
.searchContainer .fas {
    cursor: pointer;
}
input {
    border: none;
}
.center {
  flex: 1;
  text-align: center;
}
.center h1 {
  font-weight: bold;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.loginIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  cursor: pointer;
}
.menuItem .signUp:hover {
    color: gray;
}
.menuItem .login:hover {
    color: gray;
}
.menuItem .fas:hover {
    color: gray;
}
.loginIcon .far:hover {
    color: rgb(0, 102, 255);
}

/*SLIDER EFFECT*/
.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden; 
}
.arrow {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 1%;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}

.arrow2 {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 1%;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}
.wrapper2 {
    height: 100%;
  display: flex;
  transition: all 1.5s ease;
}
.slide {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(177, 197, 204);
}
.imgContainer {
    height: 90%;
    flex: 1;
}
.image {
    height: 80%;
  margin-left: 80px;
}
.infoContainer {
    flex: 1;
    padding: 50px;
    margin-top: -100px;
}
.title {
    font-size: 50px;
}
.desc {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}
.btnShop {
    padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.btnShop:hover {
    color: white;
    background-color: black;
    transition: 0.5s ease;
}